In [23]:
import warnings
warnings.filterwarnings('ignore')

import geopandas
import r5py
import shapely
import pandas as pd
import geopandas as gpd
import numpy as np
import datetime
import copy

import os
import snman
from snman import osmnx_customized as oxc
from snman.constants import *

PERIMETER = '_accessibility_debug'

# Set these paths according to your own setup
data_directory = os.path.join('C:',os.sep,'Users','lballo','polybox','Research','SNMan','SNMan Shared','data_v2')
inputs_path = os.path.join(data_directory, 'inputs')
process_path = os.path.join(data_directory, 'process', PERIMETER)
outputs_path = os.path.join(data_directory, 'outputs', PERIMETER)

CRS_internal = 2056      # for Zurich

In [24]:
after_tt = snman.io.import_geofile_to_gdf(
    os.path.join(outputs_path, 'tt_after_edges_all_fields.gpkg')
)

In [25]:
before_tt = snman.io.import_geofile_to_gdf(
    os.path.join(outputs_path, 'tt_before_edges_all_fields.gpkg')
)
before_tt

,u,v,key,index,OSM_ID,LinkId,FreeFlowTTCar,FreeFlowTTBike,car_0:00,N_cars_0:00,...,bike_23:30,N_bikes_23:30,Unnamed: 196,highway,length,cost_lanes_private_cars_>,cost_lanes_private_cars_<,oneway,lanes,geometry
0,0,11,0,90,7749004,3698,74.62,74.62,74.62,0,...,81.00,3,NaN,residential,310.929535,81.00,inf,yes,M>*3.0,"LINESTRING (2671251.849 1242229.885, 2671236.1..."
1,0,17108,0,0,7749021,3640,15.39,25.64,15.39,0,...,25.64,0,NaN,tertiary,106.850626,22.00,inf,yes,M>*3.0,"LINESTRING (2671251.849 1242229.885, 2671202.1..."
2,0,17472,0,515,7749008,3711,22.62,120.66,22.62,0,...,120.66,0,NaN,tertiary,1082.720913,38.35,inf,yes,M>*3.0,"LINESTRING (2671251.849 1242229.885, 2671388.3..."
3,0,17472,1,516,7749008,3712,26.10,139.19,26.10,0,...,139.19,0,NaN,tertiary,1082.720913,61.92,inf,yes,M>*3.0,"LINESTRING (2671251.849 1242229.885, 2671388.3..."
4,1,12832,0,1,7701086,3638,22.48,22.48,22.48,0,...,22.48,0,NaN,residential,93.677650,22.48,inf,yes,M>*3.0,"LINESTRING (2683253.128 1261522.646, 2683332.6..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143697,56234,29985,0,143681,7777867,132449,9.20,73.58,10.00,4,...,73.58,0,NaN,motorway,813.948154,10.00,inf,yes,M>*3.0,"LINESTRING (2677103.268 1232195.346, 2677196.8..."
143698,56234,29985,1,143683,7777867,132448,15.22,121.76,16.00,4,...,121.76,0,NaN,motorway,813.948154,16.00,inf,yes,M>*3.0,"LINESTRING (2677103.268 1232195.346, 2677196.8..."
143699,56235,23,0,143699,7740686,3629,46.18,46.18,46.18,0,...,46.18,0,NaN,residential,192.410583,53.00,inf,yes,M>*3.0,"LINESTRING (2641479.498 1244490.799, 2641516.1..."
143700,56235,56090,0,143688,7740684,3625,37.19,37.19,37.19,0,...,37.19,0,NaN,residential,154.958620,44.00,inf,yes,M>*3.0,"LINESTRING (2641479.498 1244490.799, 2641476.1..."
143701,56236,28493,0,143697,7694151,36256,30.34,30.34,30.34,0,...,30.34,0,NaN,residential,126.407084,1.00,inf,yes,M>*3.0,"LINESTRING (2697083.478 1265914.728, 2697209.8..."

In [26]:
after_tt

,u,v,key,index,OSM_ID,LinkId,FreeFlowTTCar,FreeFlowTTBike,car_0:00,N_cars_0:00,...,bike_23:30,N_bikes_23:30,Unnamed: 196,highway,length,cost_lanes_private_cars_>,cost_lanes_private_cars_<,oneway,lanes,geometry
0,0,3,0,0,7701054,3640,22.34,44.68,22.34,0,...,44.68,0,NaN,residential,186.182650,28.46,inf,yes,M>*3.0,"LINESTRING (2701971.251 1264550.449, 2702085.5..."
1,0,19,0,21,7701051,3645,6.77,13.54,6.77,0,...,13.54,0,NaN,residential,56.407083,13.49,inf,yes,M>*3.0,"LINESTRING (2701971.251 1264550.449, 2702001.9..."
2,0,3636,0,2,7701053,3639,9.81,19.62,9.81,0,...,19.62,0,NaN,residential,81.749086,16.06,inf,yes,M>*3.0,"LINESTRING (2701971.251 1264550.449, 2701945.5..."
3,0,5858,0,1,7701052,3638,13.91,27.81,13.91,0,...,27.81,0,NaN,residential,115.886530,20.32,inf,yes,M>*3.0,"LINESTRING (2701971.251 1264550.449, 2701866.5..."
4,1,2,0,6,7715684,3633,9.20,18.39,9.20,0,...,18.39,0,NaN,residential,76.629765,16.00,inf,yes,M>*3.0,"LINESTRING (2699643.283 1265696.181, 2699645.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143330,55376,16469,0,143311,7591243,75831,65.50,65.50,65.50,0,...,65.50,0,NaN,residential,272.917652,65.50,inf,yes,M>*3.0,"LINESTRING (2699733.512 1237068.932, 2699704.4..."
143331,55376,29525,0,143334,7591241,75828,40.16,40.16,40.16,0,...,40.16,0,NaN,residential,167.314346,46.00,inf,yes,M>*3.0,"LINESTRING (2699733.512 1237068.932, 2699829.5..."
143332,55377,6510,0,143316,7576940,36253,82.79,82.79,82.79,0,...,82.79,0,NaN,residential,344.957068,21.08,inf,yes,M>*3.0,"LINESTRING (2684442.229 1231517.003, 2684264.8..."
143333,55378,6641,0,143317,7767687,36252,10.19,67.95,11.00,3,...,67.95,0,NaN,motorway,283.145154,11.00,inf,yes,M>*3.0,"LINESTRING (2674000.659 1247776.848, 2674040.4..."
143334,55379,42767,0,143328,7767683,36256,25.80,51.59,25.80,0,...,51.59,0,NaN,residential,214.963899,32.00,inf,yes,M>*3.0,"LINESTRING (2676513.890 1239431.419, 2676416.2..."

In [27]:
# add a pseudo id that is unique and compatible between the two datasets
before_tt['pseudo_id'] = before_tt.apply(
    lambda row: f"{row.geometry}_{row['highway']}_{row['key']}",
    axis=1
)
after_tt['pseudo_id'] = after_tt.apply(
    lambda row: f"{row.geometry}_{row['highway']}_{row['key']}",
    axis=1
)

In [28]:
# merge

attributes = []

for mode in ['car', 'bike']:
    for hour in map(str, range(24)):
        for minute in ['00', '30']:
            speed_column = f'{mode}_{hour}:{minute}'
            N_column = f'N_{mode}s_{hour}:{minute}'
            if not (N_column in before_tt.columns and N_column in after_tt.columns):
                continue
            #print(column)
            #ff_tt_column = f'FreeFlowTT{mode.capitalize()}'
            attributes.append(N_column)
            attributes.append(speed_column)

m = pd.merge(before_tt, after_tt[attributes + ['pseudo_id', 'OSM_ID']], on='pseudo_id', how='left', suffixes=['_before', '_after'])
m.fillna(0, inplace=True)
m

,u,v,key,index,OSM_ID_before,LinkId,FreeFlowTTCar,FreeFlowTTBike,car_0:00_before,N_cars_0:00_before,...,bike_21:30_after,N_bikes_22:00_after,bike_22:00_after,N_bikes_22:30_after,bike_22:30_after,N_bikes_23:00_after,bike_23:00_after,N_bikes_23:30_after,bike_23:30_after,OSM_ID_after
0,0,11,0,90,7749004,3698,74.62,74.62,74.62,0,...,74.62,1.0,81.00,0.0,74.62,0.0,74.62,3.0,81.00,7749585.0
1,0,17108,0,0,7749021,3640,15.39,25.64,15.39,0,...,25.64,0.0,25.64,0.0,25.64,0.0,25.64,0.0,25.64,7749602.0
2,0,17472,0,515,7749008,3711,22.62,120.66,22.62,0,...,139.19,0.0,139.19,0.0,139.19,0.0,139.19,0.0,139.19,7749589.0
3,0,17472,1,516,7749008,3712,26.10,139.19,26.10,0,...,120.66,0.0,120.66,0.0,120.66,0.0,120.66,0.0,120.66,7749589.0
4,1,12832,0,1,7701086,3638,22.48,22.48,22.48,0,...,22.48,0.0,22.48,0.0,22.48,0.0,22.48,0.0,22.48,7701614.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143697,56234,29985,0,143681,7777867,132449,9.20,73.58,10.00,4,...,121.76,0.0,121.76,0.0,121.76,0.0,121.76,0.0,121.76,7778448.0
143698,56234,29985,1,143683,7777867,132448,15.22,121.76,16.00,4,...,73.58,0.0,73.58,0.0,73.58,0.0,73.58,0.0,73.58,7778448.0
143699,56235,23,0,143699,7740686,3629,46.18,46.18,46.18,0,...,46.18,0.0,46.18,0.0,46.18,0.0,46.18,0.0,46.18,7741267.0
143700,56235,56090,0,143688,7740684,3625,37.19,37.19,37.19,0,...,37.19,0.0,37.19,0.0,37.19,0.0,37.19,0.0,37.19,7741265.0
143701,56236,28493,0,143697,7694151,36256,30.34,30.34,30.34,0,...,36.00,0.0,30.34,0.0,30.34,0.0,30.34,0.0,30.34,7694678.0

In [29]:
# calculate differences

for hour in map(str, range(24)):
    for minute in ['00', '30']:
        time = f"{hour}:{minute}"
        #print(f"N_cars_{time}_before")
        if not f"N_cars_{time}_before" in m.columns:
            continue
        m[f"N_cars_{time}_diff"] = m[f"N_cars_{time}_after"] - m[f"N_cars_{time}_before"]
        m[f"car_{time}_diff"] = m[f"car_{time}_after"] - m[f"car_{time}_before"]
m

,u,v,key,index,OSM_ID_before,LinkId,FreeFlowTTCar,FreeFlowTTBike,car_0:00_before,N_cars_0:00_before,...,N_cars_21:30_diff,car_21:30_diff,N_cars_22:00_diff,car_22:00_diff,N_cars_22:30_diff,car_22:30_diff,N_cars_23:00_diff,car_23:00_diff,N_cars_23:30_diff,car_23:30_diff
0,0,11,0,90,7749004,3698,74.62,74.62,74.62,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00
1,0,17108,0,0,7749021,3640,15.39,25.64,15.39,0,...,29.0,0.00,16.0,0.0,1.0,0.0,1.0,0.00,4.0,0.00
2,0,17472,0,515,7749008,3711,22.62,120.66,22.62,0,...,6.0,10.00,3.0,10.0,3.0,10.0,15.0,10.00,8.0,10.00
3,0,17472,1,516,7749008,3712,26.10,139.19,26.10,0,...,8.0,-10.00,3.0,-10.0,1.0,-10.0,14.0,-10.00,9.0,-10.00
4,1,12832,0,1,7701086,3638,22.48,22.48,22.48,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143697,56234,29985,0,143681,7777867,132449,9.20,73.58,10.00,4,...,242.0,6.00,146.0,6.0,30.0,6.0,59.0,6.00,-28.0,6.00
143698,56234,29985,1,143683,7777867,132448,15.22,121.76,16.00,4,...,238.0,-6.00,148.0,-6.0,31.0,-6.0,60.0,-6.00,-23.0,-6.00
143699,56235,23,0,143699,7740686,3629,46.18,46.18,46.18,0,...,-1.0,-6.82,-1.0,0.0,0.0,0.0,-1.0,-6.82,0.0,0.00
143700,56235,56090,0,143688,7740684,3625,37.19,37.19,37.19,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,1.0,6.81
143701,56236,28493,0,143697,7694151,36256,30.34,30.34,30.34,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00

In [ ]:
snman.io.export_gdf(
    m,
    os.path.join(outputs_path, 'tt_diff_edges.gpkg')
)