In [1]:
import geopandas
import networkx as nx
import r5py
import shapely as shp
import pandas as pd
import geopandas as gpd
import numpy as np
import datetime
import copy

import os
import snman
from snman import osmnx_customized as oxc
from snman.constants import *

#PERIMETER = '_paper2_example'
PERIMETER = '_accessibility_debug'

# Set these paths according to your own setup
data_directory = os.path.join('C:',os.sep,'Users','lballo','polybox','Research','SNMan','SNMan Shared','data_v2')
inputs_path = os.path.join(data_directory, 'inputs')
process_path = os.path.join(data_directory, 'process', PERIMETER)
outputs_path = os.path.join(data_directory, 'outputs', PERIMETER)
outputs_path_accessibility = os.path.join(data_directory, 'outputs', '_accessibility_debug')

CRS_internal = 2056      # for Zurich

C:\Users\lballo\AppData\Roaming\Python\Python39\site-packages\osmnx\utils.py:192: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  warnings.warn(

In [2]:
population_sample = 0.05
#statent_id = 68372518
statent_id = 67912473
distance_limit = 70*1000
destinations_sample = 0.05
cycling_speed_kmh = 18
walking_speed_kmh = 1.34 * 3.6
access_egress_detour_factor = 2
departure_time = datetime.datetime(2024, 2, 22, 18, 00)
base_travel_time = 5*60

rebuild_inputs = True
STATE = 'after'

if STATE=='before':
    ln_desc = KEY_LANES_DESCRIPTION
else:
    ln_desc = KEY_LANES_DESCRIPTION_AFTER

In [3]:
if 1:
    r5_transit_network = r5py.TransportNetwork(
        os.path.join(outputs_path_accessibility, 'before_oneway_links_default.osm.pbf'),
        #os.path.join(inputs_path, 'switzerland', 'switzerland', 'gtfs', 'vbz_2024.zip'),
        #os.path.join(inputs_path, 'switzerland', 'switzerland', 'gtfs', 'gtfs_fp2024_2024-06-27_mod.zip'),
    )

In [28]:
# Load street graph
if 1:
    G = snman.io.load_street_graph(
        os.path.join(outputs_path, 'G_edges.gpkg'),
        os.path.join(outputs_path, 'G_nodes.gpkg'),
        crs=CRS_internal
    )

In [5]:
if rebuild_inputs:
    G_modes = {}
    L_modes = {}

In [29]:
# create mode graphs for other modes
if rebuild_inputs:
    for mode in [MODE_CYCLING, MODE_FOOT]:
        print(f'Make street and lane graphs for {mode}')
        G_modes[mode] = copy.deepcopy(G)
        snman.street_graph.filter_lanes_by_modes(
            G_modes[mode], [mode], lane_description_key=ln_desc
        )
        L_modes[mode] = snman.lane_graph.create_lane_graph(
            G_modes[mode], lanes_attribute=ln_desc
        )

Make street and lane graphs for cycling
Make street and lane graphs for foot

In [7]:
if rebuild_inputs:
    # load the new car street graph created from MATSim output
    G_modes[MODE_PRIVATE_CARS] = snman.io.load_street_graph(
        os.path.join(outputs_path, f'tt_{STATE}_edges.gpkg'),
        os.path.join(outputs_path, f'tt_{STATE}_nodes.gpkg'),
        crs=CRS_internal,
        unstringify_attributes={'lanes': snman.space_allocation.space_allocation_from_string}
    )
    
    # we must avoid that the start/end point of trips are matched onto nodes that not accessible by car
    # therefore, we reduce the graph only to those links and nodes that are accessible by car
    snman.street_graph.filter_lanes_by_modes(
        G_modes[MODE_PRIVATE_CARS], [MODE_PRIVATE_CARS], lane_description_key='lanes'
    )

In [8]:
if rebuild_inputs:
    L_modes[MODE_PRIVATE_CARS] = snman.lane_graph.create_lane_graph(
        G_modes[MODE_PRIVATE_CARS], lanes_attribute='lanes', cast_attributes={'matsim_tt_cars': 'car_18:00'}
    )

In [9]:
if rebuild_inputs:
    # Import Statent grid
    statent = gpd.read_parquet(
        os.path.join(inputs_path, 'switzerland', 'switzerland', 'statent', 'STATENT_2021_ebc_10_reduced_fields.gzip')
    )
    statent.rename(columns={'RELI': 'id'}, inplace=True)
    statent

In [10]:
if rebuild_inputs:
    # read statpop that has been pre-joined with statent
    statpop_with_statent_ids = gpd.read_parquet(
        os.path.join(inputs_path, 'switzerland', 'switzerland', 'statpop', 'statpop2017_with_statent_reduced_columns.gzip')
    )
    
    statpop_with_statent_ids.head()

In [11]:
# filter statpop for residents within the given origin statent cell
statpop_filtered = statpop_with_statent_ids.query(f'statent_id == {statent_id}')
statpop_filtered = statpop_filtered.sample(frac=population_sample, random_state=0)
statpop_filtered

,statyear,yearofbirth,sex,maritalstatus,residencepermit,age,residentpermit,federalbuildingid,geometry,index_right,statent_id,distance_to_statent_point
record,,,,,,,,,,,,
7921339,2017,1963,2,1,-2,54,-2,899839562,POINT (2679130.001 1247261.001),23550.0,67912473.0,49.203130
9180957,2017,1952,1,1,-2,65,-2,899839587,POINT (2679102.001 1247322.001),23550.0,67912473.0,22.091913
12659585,2017,1950,2,2,-2,67,-2,899839528,POINT (2679103.001 1247285.001),23550.0,67912473.0,15.296061

In [12]:
# make a light version of statpop
statpop_reduced = statpop_filtered.reset_index()[[
    'record', 'age', 'sex', 'maritalstatus', 'residencepermit', 'residentpermit', 'statent_id', 'geometry'
]]
statpop_reduced.set_index('record', inplace=True)
statpop_reduced

,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry
record,,,,,,,
7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001)
9180957,65,1,1,-2,-2,67912473.0,POINT (2679102.001 1247322.001)
12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001)

In [13]:
# filter statent for cells within a distance limit from the origin
origin = statent.set_index('id').geometry[statent_id]
origins = gpd.GeoDataFrame(
    {
        "id": [statent_id],
        "geometry": [origin]
    },
    crs="EPSG:2056",
)
statent_filtered = statent[statent['geometry'].within(
    origin.buffer(distance_limit)
)]
statent_filtered = gpd.GeoDataFrame(statent_filtered)
statent_filtered

,ERHJAHR,PUBJAHR,E_KOORD,N_KOORD,id,ARBEITSSTAETEN_TOTAL,ARBEITSSTAETEN_SEKTOR1,ARBEITSSTAETEN_SEKTOR2,ARBEITSSTAETEN_SEKTOR3,BESCHAEFTIGTE_TOTAL,...,VOLLZEITAEQ_SEKTOR1,VOLLZEITAEQ_SEKTOR1_FRAUEN,VOLLZEITAEQ_SEKTOR1_MAENNER,VOLLZEITAEQ_SEKTOR2,VOLLZEITAEQ_SEKTOR2_FRAUEN,VOLLZEITAEQ_SEKTOR2_MAENNER,VOLLZEITAEQ_SEKTOR3,VOLLZEITAEQ_SEKTOR3_FRAUEN,VOLLZEITAEQ_SEKTOR3_MAENNER,geometry
0,2021,2023,2632200,1247300,63222473,4,0,4,4,7,...,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0,0.0,POINT (2632200.000 1247300.000)
1,2021,2023,2632300,1248100,63232481,4,4,0,0,4,...,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,POINT (2632300.000 1248100.000)
2,2021,2023,2632400,1247300,63242473,4,0,0,4,5,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,POINT (2632400.000 1247300.000)
3,2021,2023,2632400,1247500,63242475,4,0,4,0,4,...,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,POINT (2632400.000 1247500.000)
4,2021,2023,2632500,1247200,63252472,4,0,0,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,POINT (2632500.000 1247200.000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58739,2021,2023,2728300,1222500,72832225,4,0,0,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,POINT (2728300.000 1222500.000)
58740,2021,2023,2728300,1222900,72832229,4,0,0,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,POINT (2728300.000 1222900.000)
58741,2021,2023,2728400,1222700,72842227,4,0,0,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,POINT (2728400.000 1222700.000)
58742,2021,2023,2728500,1222500,72852225,4,4,0,0,4,...,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,POINT (2728500.000 1222500.000)
58743,2021,2023,2728600,1222100,72862221,4,0,4,4,23,...,0.0,0.0,0.0,21.6,4.0,20.8,4.0,0.0,4.0,POINT (2728600.000 1222100.000)

In [14]:
# make a sample of statpop cells but inlcude the origin cell in every case
statent_filtered = pd.concat([
    statent_filtered[statent_filtered['id'] == statent_id],
    statent_filtered[statent_filtered['id'] != statent_id].sample(frac=destinations_sample, random_state=0)
    ])

In [15]:
# match statent points to lanegraph nodes
# TODO: do this only once

for mode in [MODE_PRIVATE_CARS, MODE_CYCLING, MODE_FOOT]:

    # match statent points to nearest nodes
    nodes = snman.oxc.nearest_nodes(
        L_modes[mode],
        list(map(lambda geom: geom.x, statent_filtered.geometry)),
        list(map(lambda geom: geom.y, statent_filtered.geometry)),
        return_dist=True
    )

    statent_filtered[[f'closest_node_{mode}', f'access_egress_{mode}']] = list(zip(*nodes))

statent_filtered

,ERHJAHR,PUBJAHR,E_KOORD,N_KOORD,id,ARBEITSSTAETEN_TOTAL,ARBEITSSTAETEN_SEKTOR1,ARBEITSSTAETEN_SEKTOR2,ARBEITSSTAETEN_SEKTOR3,BESCHAEFTIGTE_TOTAL,...,VOLLZEITAEQ_SEKTOR3,VOLLZEITAEQ_SEKTOR3_FRAUEN,VOLLZEITAEQ_SEKTOR3_MAENNER,geometry,closest_node_private_cars,access_egress_private_cars,closest_node_cycling,access_egress_cycling,closest_node_foot,access_egress_foot
23550,2021,2023,2679100,1247300,67912473,6,0,0,6,59,...,35.135831,28.200000,6.935831,POINT (2679100.000 1247300.000),50608.0,28.931762,28714.0,3379.917094,28714.0,3379.917094
6655,2021,2023,2653100,1239900,65312399,4,4,0,0,4,...,0.000000,0.000000,0.000000,POINT (2653100.000 1239900.000),24514.0,1358.115708,39355.0,29356.504667,39355.0,29356.504667
5827,2021,2023,2650500,1245800,65052458,4,0,4,4,4,...,4.000000,4.000000,0.000000,POINT (2650500.000 1245800.000),53053.0,91.026213,39355.0,30365.910381,39355.0,30365.910381
38622,2021,2023,2690900,1282700,69092827,4,0,0,4,4,...,4.000000,4.000000,4.000000,POINT (2690900.000 1282700.000),49794.0,1371.805307,36862.0,28856.859187,36862.0,28856.859187
1399,2021,2023,2637700,1255500,63772555,4,0,0,4,11,...,6.989673,5.116902,4.000000,POINT (2637700.000 1255500.000),33074.0,51.306988,26936.0,42534.445275,26936.0,42534.445275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25346,2021,2023,2680800,1248500,68082485,4,0,0,4,4,...,4.000000,4.000000,4.000000,POINT (2680800.000 1248500.000),43114.0,45.950393,41540.0,1608.006443,41540.0,1608.006443
56523,2021,2023,2714500,1258000,71452580,4,0,0,4,4,...,4.000000,0.000000,4.000000,POINT (2714500.000 1258000.000),18198.0,1453.855424,26598.0,28827.807243,26598.0,28827.807243
44234,2021,2023,2696900,1228000,69692280,4,0,0,4,4,...,4.000000,4.000000,4.000000,POINT (2696900.000 1228000.000),16756.0,25.600192,37411.0,24491.915736,37411.0,24491.915736
25276,2021,2023,2680700,1259300,68072593,4,4,0,0,4,...,0.000000,0.000000,0.000000,POINT (2680700.000 1259300.000),30881.0,130.510729,27372.0,4775.918014,27372.0,4775.918014
2408,2021,2023,2641500,1244400,64152444,4,0,4,0,4,...,0.000000,0.000000,0.000000,POINT (2641500.000 1244400.000),26022.0,59.313989,39355.0,39474.128404,39355.0,39474.128404

In [16]:
tt_matrices = {}

In [17]:
# calculate transit travel time matrix using R5
tt_computer_transit = r5py.TravelTimeMatrixComputer(
    r5_transit_network,
    transport_modes=[r5py.TransportMode.TRANSIT],
    origins=origins,
    destinations=statent_filtered,
    departure=departure_time,
    snap_to_network=True
)
tt_matrices[MODE_TRANSIT] = tt_computer_transit.compute_travel_times()
tt_matrices[MODE_TRANSIT].rename(columns={
    'travel_time': 'travel_time_transit',
    'from_id': 'from_cell',
    'to_id': 'to_cell'
}, inplace=True)
# convert from minutes to seconds
tt_matrices[MODE_TRANSIT]['travel_time_transit'] *= 60

tt_matrices[MODE_TRANSIT]

C:\Users\lballo\AppData\Local\miniconda3\envs\snman\lib\site-packages\r5py\r5\regional_task.py:223: RuntimeWarning: Departure time 2024-02-22 18:00:00 is outside of the time range covered by currently loaded GTFS data sets.
  warnings.warn(
C:\Users\lballo\AppData\Roaming\Python\Python39\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
C:\Users\lballo\AppData\Roaming\Python\Python39\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
C:\Users\lballo\AppData\Local\miniconda3\envs\snman\lib\site-packages\r5py\r5\base_travel_time_matrix_computer.py:152: RuntimeWarning: Some destination points could not be snapped to the street network
  warnings.warn(

      from_cell   to_cell  travel_time_transit
0      67912473  67912473                  0.0
1      67912473  65312399                  NaN
2      67912473  65052458                  NaN
3      67912473  69092827                  NaN
4      67912473  63772555                  NaN
...         ...       ...                  ...
2858   67912473  68082485               2580.0
2859   67912473  71452580                  NaN
2860   67912473  69692280                  NaN
2861   67912473  68072593                  NaN
2862   67912473  64152444                  NaN

[2863 rows x 3 columns]

In [18]:
# calculate shortest paths to all destinations in networkx
for mode in [MODE_PRIVATE_CARS, MODE_FOOT, MODE_CYCLING]:

    print(mode)

    origin_cell = statent_filtered[statent_filtered['id'] == statent_id]
    origin_node = min(origin_cell[f'closest_node_{mode}'])
    access_cost = min(origin_cell[f'access_egress_{mode}'])
    print(origin_node, access_cost)
    
    if mode == MODE_PRIVATE_CARS:
        weight = 'matsim_tt_cars'
    else:
        weight = f'cost_{mode}'
    
    # calculate cost to all other nodes
    dijkstra_path_costs = nx.single_source_dijkstra_path_length(L_modes[mode], origin_node, weight=weight)
    
    # convert the dijkstra path costs dict to a dataframe like from R5
    tt_matrices[mode] = pd.DataFrame(list(dijkstra_path_costs.items()), columns=['to_node', f'travel_time_{mode}'])
    tt_matrices[mode]['from_node'] = origin_node
    
tt_matrices[MODE_PRIVATE_CARS]

private_cars
50608.0 28.9317621868226
foot
28714.0 3379.9170941182
cycling
28714.0 3379.9170941182

       to_node  travel_time_private_cars  from_node
0      50608.0                      0.00    50608.0
1      52900.0                     18.00    50608.0
2      50505.0                     36.25    50608.0
3      50504.0                     50.25    50608.0
4      50047.0                     55.92    50608.0
...        ...                       ...        ...
53888    337.0                  11402.70    50608.0
53889  27889.0                  11571.55    50608.0
53890  26474.0                  11629.76    50608.0
53891  32244.0                  12115.60    50608.0
53892  32209.0                  12152.65    50608.0

[53893 rows x 3 columns]

In [19]:
# merge the tt matrix of transit on cell_ids
statent_filtered_2 = pd.merge(
    statent_filtered, tt_matrices[MODE_TRANSIT],
    left_on='id', right_on='to_cell', how='left'
)
statent_filtered_2.drop(columns=['from_cell', 'to_cell'], inplace=True)
statent_filtered_2[f'travel_time_total_{MODE_TRANSIT}'] = statent_filtered_2[f'travel_time_{MODE_TRANSIT}']
statent_filtered_2

,ERHJAHR,PUBJAHR,E_KOORD,N_KOORD,id,ARBEITSSTAETEN_TOTAL,ARBEITSSTAETEN_SEKTOR1,ARBEITSSTAETEN_SEKTOR2,ARBEITSSTAETEN_SEKTOR3,BESCHAEFTIGTE_TOTAL,...,VOLLZEITAEQ_SEKTOR3_MAENNER,geometry,closest_node_private_cars,access_egress_private_cars,closest_node_cycling,access_egress_cycling,closest_node_foot,access_egress_foot,travel_time_transit,travel_time_total_transit
0,2021,2023,2679100,1247300,67912473,6,0,0,6,59,...,6.935831,POINT (2679100.000 1247300.000),50608.0,28.931762,28714.0,3379.917094,28714.0,3379.917094,0.0,0.0
1,2021,2023,2653100,1239900,65312399,4,4,0,0,4,...,0.000000,POINT (2653100.000 1239900.000),24514.0,1358.115708,39355.0,29356.504667,39355.0,29356.504667,NaN,NaN
2,2021,2023,2650500,1245800,65052458,4,0,4,4,4,...,0.000000,POINT (2650500.000 1245800.000),53053.0,91.026213,39355.0,30365.910381,39355.0,30365.910381,NaN,NaN
3,2021,2023,2690900,1282700,69092827,4,0,0,4,4,...,4.000000,POINT (2690900.000 1282700.000),49794.0,1371.805307,36862.0,28856.859187,36862.0,28856.859187,NaN,NaN
4,2021,2023,2637700,1255500,63772555,4,0,0,4,11,...,4.000000,POINT (2637700.000 1255500.000),33074.0,51.306988,26936.0,42534.445275,26936.0,42534.445275,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2021,2023,2680800,1248500,68082485,4,0,0,4,4,...,4.000000,POINT (2680800.000 1248500.000),43114.0,45.950393,41540.0,1608.006443,41540.0,1608.006443,2580.0,2580.0
2934,2021,2023,2714500,1258000,71452580,4,0,0,4,4,...,4.000000,POINT (2714500.000 1258000.000),18198.0,1453.855424,26598.0,28827.807243,26598.0,28827.807243,NaN,NaN
2935,2021,2023,2696900,1228000,69692280,4,0,0,4,4,...,4.000000,POINT (2696900.000 1228000.000),16756.0,25.600192,37411.0,24491.915736,37411.0,24491.915736,NaN,NaN
2936,2021,2023,2680700,1259300,68072593,4,4,0,0,4,...,0.000000,POINT (2680700.000 1259300.000),30881.0,130.510729,27372.0,4775.918014,27372.0,4775.918014,NaN,NaN
2937,2021,2023,2641500,1244400,64152444,4,0,4,0,4,...,0.000000,POINT (2641500.000 1244400.000),26022.0,59.313989,39355.0,39474.128404,39355.0,39474.128404,NaN,NaN

In [20]:
# merge the other tt matrices on node ids
for mode in [MODE_PRIVATE_CARS, MODE_FOOT, MODE_CYCLING]:

    # merge the travel time matrices with the statent dataset
    # such that every destination has the cost of reaching it
    statent_filtered_2 = pd.merge(
        statent_filtered_2, tt_matrices[mode],
        left_on=f'closest_node_{mode}', right_on='to_node', how='left'
    )
    statent_filtered_2.drop(columns=['from_node', 'to_node'], inplace=True)
    
    if mode == MODE_FOOT:
        speed_factor = walking_speed_kmh / 3.6
    elif mode == MODE_CYCLING:
        speed_factor = cycling_speed_kmh / 3.6
    else:
        speed_factor = 1
    
    # calculate total travel time by adding access and egress cost and considering speed factors
    statent_filtered_2[f'travel_time_total_{mode}'] = (
            (statent_filtered_2[f'travel_time_{mode}'] / speed_factor)
            + ((statent_filtered_2[f'access_egress_{mode}'] * access_egress_detour_factor) / (walking_speed_kmh / 3.6))
            + ((access_cost * access_egress_detour_factor) / (walking_speed_kmh / 3.6))
    )

statent_filtered_2

,ERHJAHR,PUBJAHR,E_KOORD,N_KOORD,id,ARBEITSSTAETEN_TOTAL,ARBEITSSTAETEN_SEKTOR1,ARBEITSSTAETEN_SEKTOR2,ARBEITSSTAETEN_SEKTOR3,BESCHAEFTIGTE_TOTAL,...,closest_node_foot,access_egress_foot,travel_time_transit,travel_time_total_transit,travel_time_private_cars,travel_time_total_private_cars,travel_time_foot,travel_time_total_foot,travel_time_cycling,travel_time_total_cycling
0,2021,2023,2679100,1247300,67912473,6,0,0,6,59,...,28714.0,3379.917094,0.0,0.0,0.00,5087.834114,0.000000,10089.304759,0.000000,10089.304759
1,2021,2023,2653100,1239900,65312399,4,4,0,0,4,...,39355.0,29356.504667,NaN,NaN,3114.39,10186.080750,NaN,NaN,NaN,NaN
2,2021,2023,2650500,1245800,65052458,4,0,4,4,4,...,39355.0,30365.910381,NaN,NaN,2995.83,8176.342399,NaN,NaN,NaN,NaN
3,2021,2023,2690900,1282700,69092827,4,0,0,4,4,...,36862.0,28856.859187,NaN,NaN,3163.29,10255.412986,8312.242066,54317.757185,5831.013281,49280.794120
4,2021,2023,2637700,1255500,63772555,4,0,0,4,11,...,26936.0,42534.445275,NaN,NaN,2879.26,8000.489974,8755.288031,75062.696096,5937.805892,69716.460237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2021,2023,2680800,1248500,68082485,4,0,0,4,4,...,41540.0,1608.006443,2580.0,2580.0,550.04,5663.275055,NaN,NaN,NaN,NaN
2934,2021,2023,2714500,1258000,71452580,4,0,0,4,4,...,26598.0,28827.807243,NaN,NaN,3417.75,10632.335848,8360.636061,54310.510996,6740.012442,49419.232842
2935,2021,2023,2696900,1228000,69692280,4,0,0,4,4,...,37411.0,24491.915736,NaN,NaN,1977.89,7060.751621,NaN,NaN,NaN,NaN
2936,2021,2023,2680700,1259300,68072593,4,4,0,0,4,...,27372.0,4775.918014,NaN,NaN,2411.18,7650.624512,8258.414778,18335.884325,6053.978508,13383.683923
2937,2021,2023,2641500,1244400,64152444,4,0,4,0,4,...,39355.0,39474.128404,NaN,NaN,3045.76,8178.940721,NaN,NaN,NaN,NaN

In [21]:
statent_filtered_2['from_cell'] = statent_id
statent_filtered_2

,ERHJAHR,PUBJAHR,E_KOORD,N_KOORD,id,ARBEITSSTAETEN_TOTAL,ARBEITSSTAETEN_SEKTOR1,ARBEITSSTAETEN_SEKTOR2,ARBEITSSTAETEN_SEKTOR3,BESCHAEFTIGTE_TOTAL,...,access_egress_foot,travel_time_transit,travel_time_total_transit,travel_time_private_cars,travel_time_total_private_cars,travel_time_foot,travel_time_total_foot,travel_time_cycling,travel_time_total_cycling,from_cell
0,2021,2023,2679100,1247300,67912473,6,0,0,6,59,...,3379.917094,0.0,0.0,0.00,5087.834114,0.000000,10089.304759,0.000000,10089.304759,67912473
1,2021,2023,2653100,1239900,65312399,4,4,0,0,4,...,29356.504667,NaN,NaN,3114.39,10186.080750,NaN,NaN,NaN,NaN,67912473
2,2021,2023,2650500,1245800,65052458,4,0,4,4,4,...,30365.910381,NaN,NaN,2995.83,8176.342399,NaN,NaN,NaN,NaN,67912473
3,2021,2023,2690900,1282700,69092827,4,0,0,4,4,...,28856.859187,NaN,NaN,3163.29,10255.412986,8312.242066,54317.757185,5831.013281,49280.794120,67912473
4,2021,2023,2637700,1255500,63772555,4,0,0,4,11,...,42534.445275,NaN,NaN,2879.26,8000.489974,8755.288031,75062.696096,5937.805892,69716.460237,67912473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2021,2023,2680800,1248500,68082485,4,0,0,4,4,...,1608.006443,2580.0,2580.0,550.04,5663.275055,NaN,NaN,NaN,NaN,67912473
2934,2021,2023,2714500,1258000,71452580,4,0,0,4,4,...,28827.807243,NaN,NaN,3417.75,10632.335848,8360.636061,54310.510996,6740.012442,49419.232842,67912473
2935,2021,2023,2696900,1228000,69692280,4,0,0,4,4,...,24491.915736,NaN,NaN,1977.89,7060.751621,NaN,NaN,NaN,NaN,67912473
2936,2021,2023,2680700,1259300,68072593,4,4,0,0,4,...,4775.918014,NaN,NaN,2411.18,7650.624512,8258.414778,18335.884325,6053.978508,13383.683923,67912473
2937,2021,2023,2641500,1244400,64152444,4,0,4,0,4,...,39474.128404,NaN,NaN,3045.76,8178.940721,NaN,NaN,NaN,NaN,67912473

In [22]:
destinations_with_cost = pd.merge(
    statpop_reduced.reset_index(),
    statent_filtered_2.reset_index()[[
        'id', 'VOLLZEITAEQ_TOTAL',
        'travel_time_total_cycling',
        'travel_time_total_foot',
        'travel_time_total_transit',
        'travel_time_total_private_cars',
        'access_egress_cycling',
        'access_egress_private_cars',
        'travel_time_private_cars',
        'closest_node_private_cars',
        'from_cell',
        'geometry'
    ]].rename(columns={'geometry': 'destination_geometry'}),
    how='left', left_on='statent_id', right_on='from_cell')
destinations_with_cost

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry,id,VOLLZEITAEQ_TOTAL,travel_time_total_cycling,travel_time_total_foot,travel_time_total_transit,travel_time_total_private_cars,access_egress_cycling,access_egress_private_cars,travel_time_private_cars,closest_node_private_cars,from_cell,destination_geometry
0,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),67912473,35.135831,10089.304759,10089.304759,0.0,5087.834114,3379.917094,28.931762,0.00,50608.0,67912473,POINT (2679100.000 1247300.000)
1,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65312399,4.000000,NaN,NaN,NaN,10186.080750,29356.504667,1358.115708,3114.39,24514.0,67912473,POINT (2653100.000 1239900.000)
2,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65052458,4.000000,NaN,NaN,NaN,8176.342399,30365.910381,91.026213,2995.83,53053.0,67912473,POINT (2650500.000 1245800.000)
3,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),69092827,4.000000,49280.794120,54317.757185,NaN,10255.412986,28856.859187,1371.805307,3163.29,49794.0,67912473,POINT (2690900.000 1282700.000)
4,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),63772555,6.989673,69716.460237,75062.696096,NaN,8000.489974,42534.445275,51.306988,2879.26,33074.0,67912473,POINT (2637700.000 1255500.000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8809,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68082485,4.000000,NaN,NaN,2580.0,5663.275055,1608.006443,45.950393,550.04,43114.0,67912473,POINT (2680800.000 1248500.000)
8810,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),71452580,4.000000,49419.232842,54310.510996,NaN,10632.335848,28827.807243,1453.855424,3417.75,18198.0,67912473,POINT (2714500.000 1258000.000)
8811,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),69692280,4.000000,NaN,NaN,NaN,7060.751621,24491.915736,25.600192,1977.89,16756.0,67912473,POINT (2696900.000 1228000.000)
8812,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68072593,4.000000,13383.683923,18335.884325,NaN,7650.624512,4775.918014,130.510729,2411.18,30881.0,67912473,POINT (2680700.000 1259300.000)
8813,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),64152444,4.000000,NaN,NaN,NaN,8178.940721,39474.128404,59.313989,3045.76,26022.0,67912473,POINT (2641500.000 1244400.000)

In [23]:
# add base travel time
for mode in [MODE_CYCLING, MODE_PRIVATE_CARS, MODE_TRANSIT, MODE_FOOT]:
    destinations_with_cost[f'travel_time_total_{mode}'] += base_travel_time

In [24]:
# run the mode choice model to calculate each person's generalized cost to each statent destination

def calculate_behavioral_cost(private_cars=9999999, transit=9999999, cycling=9999999, foot=9999999, age=None):
    """
    Calculates individual generalized cost based on the personal properties and mode choice.
    Based on mode choice model in
    
    Hörl, S., M. Balać and K.W. Axhausen (2019)
    Pairing discrete mode choice models and agent-based transport simulation with MATSim,
    paper presented at the 98th Annual Meeting of the Transportation Research Board (TRB 2019),
    Washington DC, January 2019. 
    
    Returns a tuple of mode specific choice probabilities (dict) and the resulting behavioral travel time (float)

    Parameters
    ----------
    private_cars: float
        travel time in minutes
    transit: float
        travel time in minutes
    cycling: float
        travel time in minutes
    foot: float
        travel time in minutes
    age: int
        age in years

    Returns
    -------
    (dict, float)
    """
    
    # mode-specific costs (travel times in minutes)
    tt = {
        MODE_PRIVATE_CARS: private_cars,
        MODE_TRANSIT: transit,
        MODE_CYCLING: cycling,
        MODE_FOOT: foot
    }
    
    for mode, cost in tt.items():
        if np.isnan(cost) or np.isinf(cost):
            #tt[mode] = np.inf
            tt[mode] = 99999999
    
    # mode choice model parameters from Hörl et al. (2019), pp. 11, Table 1
    # t: time
    
    alpha_car =                    0.827   # [-]
    beta_tt_car =                 -0.0667  # [min-1]
    
    alpha_pt =                     0.0     # [-]
    beta_transfer =               -0.17    # [-]
    beta_in_vehicle_t =           -0.0192  # [min-1]
    beta_transfer_t =             -0.0384  # [min-1]
    beta_access_egress_t =        -0.0804  # [min-1]
    
    alpha_bike =                  -0.1     # [-]
    beta_tt_bike =                -0.0805  # [min-1]
    beta_age_bike =               -0.0496  # [years-1]
    
    alpha_walk =                   0.63    # [-]
    beta_tt_walk =                -0.141   # [min-1]
    
    beta_cost =                   -0.126   # [CHF-1]
    lambda_factor =               -0.4     # [-1]
    phi_avg_distance =            40.0     # [km]
    
    phi_parking_search_penalty =   6.0     # [min]
    phi_access_egress_walk_t =     5.0     # [min]
    
    # surrogate parameters to replace missing information (R5 provides only travel time)
    avg_speed_car =               25.0     # [kmh]
    detour_parameter_car =         1.3     # [-]
    x_crowfly_distance = tt[MODE_PRIVATE_CARS] / 60 * avg_speed_car / detour_parameter_car
    x_cost_car = tt[MODE_PRIVATE_CARS] * 0.2
    x_cost_pt = tt[MODE_TRANSIT] * 0.2
    
    x_transfers = round(tt[MODE_TRANSIT] / 30) if tt[MODE_TRANSIT] is not np.inf else np.inf
    x_transfer_t = x_transfers * 5
    x_access_egress_t = 5
    
    # mode-specific utilities from Hörl et al. (2019), pp. 10, eq. 3-6
    u = {
        MODE_PRIVATE_CARS: 
            alpha_car
            + beta_tt_car * tt[MODE_PRIVATE_CARS]
            + beta_tt_car * phi_parking_search_penalty
            + beta_tt_walk * phi_access_egress_walk_t
            + beta_cost * (x_crowfly_distance / phi_avg_distance)**lambda_factor * x_cost_car
        ,
        MODE_TRANSIT:
            alpha_pt
            + beta_transfer * x_transfers
            + beta_transfer_t * x_transfer_t
            + beta_access_egress_t * x_access_egress_t
            + beta_cost * (x_crowfly_distance / phi_avg_distance)**lambda_factor * x_cost_pt
        ,
        MODE_CYCLING:      
            alpha_bike
            + beta_tt_bike * tt[MODE_CYCLING]
            + beta_age_bike * max(0, age - 18)
        ,
        MODE_FOOT:
            alpha_walk
            + beta_tt_walk * tt[MODE_FOOT]
    }

    # mode-specific choice probabilities
    denominator = sum([np.exp(u_mode) for u_mode in u.values()])
    P = {mode: np.exp(u_mode) / denominator for mode, u_mode in u.items()}
    
    # total cost, after weighting the mode-specific cost by mode-specific choice probabilities
    tt_total = sum([tt[mode] * P[mode] for mode in tt.keys()])
    return P, tt_total

destinations_with_cost[['choice_probabilities', 'behavioral_cost']] = destinations_with_cost.apply(
    lambda row: calculate_behavioral_cost(
        private_cars=row['travel_time_total_private_cars'],
        transit=row['travel_time_total_transit'],
        foot=row['travel_time_total_foot'],
        cycling=row['travel_time_total_cycling'],
        age=row['age']
    ),
    axis=1,
    result_type='expand'
)

destinations_with_cost

C:\Users\lballo\AppData\Local\Temp\ipykernel_12412\2560101471.py:111: RuntimeWarning: invalid value encountered in scalar divide
  P = {mode: np.exp(u_mode) / denominator for mode, u_mode in u.items()}

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry,id,VOLLZEITAEQ_TOTAL,...,travel_time_total_transit,travel_time_total_private_cars,access_egress_cycling,access_egress_private_cars,travel_time_private_cars,closest_node_private_cars,from_cell,destination_geometry,choice_probabilities,behavioral_cost
0,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),67912473,35.135831,...,300.0,5387.834114,3379.917094,28.931762,0.00,50608.0,67912473,POINT (2679100.000 1247300.000),"{'private_cars': 1.6031156421277023e-167, 'tra...",300.000000
1,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65312399,4.000000,...,NaN,10486.080750,29356.504667,1358.115708,3114.39,24514.0,67912473,POINT (2653100.000 1239900.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN
2,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65052458,4.000000,...,NaN,8476.342399,30365.910381,91.026213,2995.83,53053.0,67912473,POINT (2650500.000 1245800.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8476.342399
3,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),69092827,4.000000,...,NaN,10555.412986,28856.859187,1371.805307,3163.29,49794.0,67912473,POINT (2690900.000 1282700.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN
4,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),63772555,6.989673,...,NaN,8300.489974,42534.445275,51.306988,2879.26,33074.0,67912473,POINT (2637700.000 1255500.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8300.489974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8809,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68082485,4.000000,...,2880.0,5963.275055,1608.006443,45.950393,550.04,43114.0,67912473,POINT (2680800.000 1248500.000),"{'private_cars': 1.6577295181466648e-165, 'tra...",2880.000000
8810,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),71452580,4.000000,...,NaN,10932.335848,28827.807243,1453.855424,3417.75,18198.0,67912473,POINT (2714500.000 1258000.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN
8811,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),69692280,4.000000,...,NaN,7360.751621,24491.915736,25.600192,1977.89,16756.0,67912473,POINT (2696900.000 1228000.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7360.751621
8812,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68072593,4.000000,...,NaN,7950.624512,4775.918014,130.510729,2411.18,30881.0,67912473,POINT (2680700.000 1259300.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7950.624512
8813,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),64152444,4.000000,...,NaN,8478.940721,39474.128404,59.313989,3045.76,26022.0,67912473,POINT (2641500.000 1244400.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8478.940721

In [25]:
"""
destinations_with_cost = pd.concat([
    destinations_with_cost,
    pd.json_normalize(destinations_with_cost['choice_probabilities']).add_prefix('prob_'),
    ],
    axis=1
)
"""

# calculate total accessibility contribution using cost function and destination utility
destinations_with_cost['accessibility_contribution'] = (
    (destinations_with_cost['behavioral_cost'] ** -0.7) 
    * destinations_with_cost['VOLLZEITAEQ_TOTAL']
)

destinations_with_cost

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry,id,VOLLZEITAEQ_TOTAL,...,travel_time_total_private_cars,access_egress_cycling,access_egress_private_cars,travel_time_private_cars,closest_node_private_cars,from_cell,destination_geometry,choice_probabilities,behavioral_cost,accessibility_contribution
0,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),67912473,35.135831,...,5387.834114,3379.917094,28.931762,0.00,50608.0,67912473,POINT (2679100.000 1247300.000),"{'private_cars': 1.6031156421277023e-167, 'tra...",300.000000,0.648284
1,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65312399,4.000000,...,10486.080750,29356.504667,1358.115708,3114.39,24514.0,67912473,POINT (2653100.000 1239900.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN
2,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65052458,4.000000,...,8476.342399,30365.910381,91.026213,2995.83,53053.0,67912473,POINT (2650500.000 1245800.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8476.342399,0.007117
3,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),69092827,4.000000,...,10555.412986,28856.859187,1371.805307,3163.29,49794.0,67912473,POINT (2690900.000 1282700.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN
4,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),63772555,6.989673,...,8300.489974,42534.445275,51.306988,2879.26,33074.0,67912473,POINT (2637700.000 1255500.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8300.489974,0.012621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8809,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68082485,4.000000,...,5963.275055,1608.006443,45.950393,550.04,43114.0,67912473,POINT (2680800.000 1248500.000),"{'private_cars': 1.6577295181466648e-165, 'tra...",2880.000000,0.015153
8810,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),71452580,4.000000,...,10932.335848,28827.807243,1453.855424,3417.75,18198.0,67912473,POINT (2714500.000 1258000.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN
8811,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),69692280,4.000000,...,7360.751621,24491.915736,25.600192,1977.89,16756.0,67912473,POINT (2696900.000 1228000.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7360.751621,0.007856
8812,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68072593,4.000000,...,7950.624512,4775.918014,130.510729,2411.18,30881.0,67912473,POINT (2680700.000 1259300.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7950.624512,0.007444
8813,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),64152444,4.000000,...,8478.940721,39474.128404,59.313989,3045.76,26022.0,67912473,POINT (2641500.000 1244400.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8478.940721,0.007116

In [26]:
# calculate accessibility contribution for every mode separately
for mode in [MODE_CYCLING, MODE_PRIVATE_CARS, MODE_TRANSIT, MODE_FOOT]:
    destinations_with_cost[f'accessibility_contribution_{mode}'] = (
        (destinations_with_cost[f'travel_time_total_{mode}'] ** -0.7)
        * destinations_with_cost['VOLLZEITAEQ_TOTAL']
    )
    
destinations_with_cost

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry,id,VOLLZEITAEQ_TOTAL,...,closest_node_private_cars,from_cell,destination_geometry,choice_probabilities,behavioral_cost,accessibility_contribution,accessibility_contribution_cycling,accessibility_contribution_private_cars,accessibility_contribution_transit,accessibility_contribution_foot
0,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),67912473,35.135831,...,50608.0,67912473,POINT (2679100.000 1247300.000),"{'private_cars': 1.6031156421277023e-167, 'tra...",300.000000,0.648284,0.054218,0.085854,0.648284,0.054218
1,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65312399,4.000000,...,24514.0,67912473,POINT (2653100.000 1239900.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN,NaN,0.006132,NaN,NaN
2,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),65052458,4.000000,...,53053.0,67912473,POINT (2650500.000 1245800.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8476.342399,0.007117,NaN,0.007117,NaN,NaN
3,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),69092827,4.000000,...,49794.0,67912473,POINT (2690900.000 1282700.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN,0.002067,0.006104,NaN,0.001932
4,7921339,54,2,1,-2,-2,67912473.0,POINT (2679130.001 1247261.001),63772555,6.989673,...,33074.0,67912473,POINT (2637700.000 1255500.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8300.489974,0.012621,0.002837,0.012621,NaN,0.002694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8809,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68082485,4.000000,...,43114.0,67912473,POINT (2680800.000 1248500.000),"{'private_cars': 1.6577295181466648e-165, 'tra...",2880.000000,0.015153,NaN,0.009104,0.015153,NaN
8810,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),71452580,4.000000,...,18198.0,67912473,POINT (2714500.000 1258000.000),"{'private_cars': nan, 'transit': nan, 'cycling...",NaN,NaN,0.002063,0.005956,NaN,0.001932
8811,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),69692280,4.000000,...,16756.0,67912473,POINT (2696900.000 1228000.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7360.751621,0.007856,NaN,0.007856,NaN,NaN
8812,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),68072593,4.000000,...,30881.0,67912473,POINT (2680700.000 1259300.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",7950.624512,0.007444,0.005090,0.007444,NaN,0.004100
8813,12659585,67,2,2,-2,-2,67912473.0,POINT (2679103.001 1247285.001),64152444,4.000000,...,26022.0,67912473,POINT (2641500.000 1244400.000),"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",8478.940721,0.007116,NaN,0.007116,NaN,NaN

In [39]:
# for each person, sum the accessibility contributions across all destinations
accessibility = destinations_with_cost.groupby('record').agg({
    'record': 'first',
    'age': 'first',
    'sex': 'first',
    'maritalstatus': 'first',
    'residencepermit': 'first',
    'residentpermit': 'first',
    'statent_id': 'first',
    'accessibility_contribution': 'sum',
    'accessibility_contribution_cycling': 'sum',
    'accessibility_contribution_foot': 'sum',
    'accessibility_contribution_private_cars': 'sum',
    'accessibility_contribution_transit': 'sum',
    'geometry': 'first'
})

accessibility.rename(columns={
    'accessibility_contribution': 'accessibility',
    'accessibility_contribution_cycling': 'accessibility_cycling',
    'accessibility_contribution_foot': 'accessibility_foot',
    'accessibility_contribution_private_cars': 'accessibility_private_cars',
    'accessibility_contribution_transit': 'accessibility_transit',
}, inplace=True)

accessibility = gpd.GeoDataFrame(accessibility, crs=2056)
accessibility

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,accessibility,accessibility_cycling,accessibility_foot,accessibility_private_cars,accessibility_transit,geometry
record,,,,,,,,,,,,,
7921339,7921339,54,2,1,-2,-2,67912473.0,153.920562,34.929608,29.855547,139.045175,55.835136,POINT (2679130.001 1247261.001)
9180957,9180957,65,1,1,-2,-2,67912473.0,153.905223,34.929608,29.855547,139.045175,55.835136,POINT (2679102.001 1247322.001)
12659585,12659585,67,2,2,-2,-2,67912473.0,153.902821,34.929608,29.855547,139.045175,55.835136,POINT (2679103.001 1247285.001)

In [350]:
if 0:
    snman.io.export_gdf(
        accessibility,
        os.path.join(outputs_path, f'accessibility_{STATE}.gpkg')
    )

In [351]:
accessibility_contributions = copy.deepcopy(destinations_with_cost)
accessibility_contributions['geometry'] = accessibility_contributions.apply(
    lambda row: shp.LineString([row['geometry'], row['destination_geometry']]),
    axis=1
)
accessibility_contributions['geometry'] = accessibility_contributions['destination_geometry']
accessibility_contributions.drop(columns=['destination_geometry'], inplace=True)

snman.io.export_gdf(
    accessibility_contributions,
    os.path.join(outputs_path, f'accessibility_contributions_{STATE}.gpkg')
)

accessibility_contributions

,record,age,sex,maritalstatus,residencepermit,residentpermit,statent_id,geometry,id,VOLLZEITAEQ_TOTAL,...,travel_time_private_cars,closest_node_private_cars,from_cell,choice_probabilities,behavioral_cost,accessibility_contribution,accessibility_contribution_cycling,accessibility_contribution_private_cars,accessibility_contribution_transit,accessibility_contribution_foot
0,7921339,54,2,1,-2,-2,67912473.0,POINT (2679100.000 1247300.000),67912473,35.135831,...,0.00,50608.0,67912473,"{'private_cars': 6.799804415498586e-11, 'trans...",300.000000,0.648284,0.543066,0.543066,0.648284,0.543066
1,7921339,54,2,1,-2,-2,67912473.0,POINT (2653100.000 1239900.000),65312399,4.000000,...,3114.39,24514.0,67912473,"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",5484.610105,0.009653,0.007656,0.009653,NaN,0.002845
2,7921339,54,2,1,-2,-2,67912473.0,POINT (2650500.000 1245800.000),65052458,4.000000,...,2995.83,53053.0,67912473,"{'private_cars': 3.425561798630964e-58, 'trans...",6540.000000,0.008534,0.008470,0.013286,0.008534,0.002984
3,7921339,54,2,1,-2,-2,67912473.0,POINT (2690900.000 1282700.000),69092827,4.000000,...,3163.29,49794.0,67912473,"{'private_cars': 5.827025605093268e-119, 'tran...",7320.000000,0.007887,0.008254,0.009568,0.007887,0.002570
4,7921339,54,2,1,-2,-2,67912473.0,POINT (2637700.000 1255500.000),63772555,6.989673,...,2879.26,33074.0,67912473,"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",3299.019329,0.024076,0.011860,0.024076,NaN,0.003997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8809,12659585,67,2,2,-2,-2,67912473.0,POINT (2680800.000 1248500.000),68082485,4.000000,...,550.04,43114.0,67912473,"{'private_cars': 7.722917528421813e-14, 'trans...",1919.992854,0.020126,0.041757,0.032651,0.020126,0.017260
8810,12659585,67,2,2,-2,-2,67912473.0,POINT (2714500.000 1258000.000),71452580,4.000000,...,3417.75,18198.0,67912473,"{'private_cars': 8.86418168573514e-132, 'trans...",7200.000000,0.007979,0.007675,0.009139,0.007979,0.002567
8811,12659585,67,2,2,-2,-2,67912473.0,POINT (2696900.000 1228000.000),69692280,4.000000,...,1977.89,16756.0,67912473,"{'private_cars': 5.783113828105096e-31, 'trans...",5340.000000,0.009835,0.012568,0.017423,0.009835,0.003574
8812,12659585,67,2,2,-2,-2,67912473.0,POINT (2680700.000 1259300.000),68072593,4.000000,...,2411.18,30881.0,67912473,"{'private_cars': 9.882152548534901e-54, 'trans...",4980.000000,0.010328,0.016813,0.014903,0.010328,0.005326
8813,12659585,67,2,2,-2,-2,67912473.0,POINT (2641500.000 1244400.000),64152444,4.000000,...,3045.76,26022.0,67912473,"{'private_cars': 1.0, 'transit': 0.0, 'cycling...",3477.470077,0.013279,0.007940,0.013279,NaN,0.002582

In [34]:
# testbed for point to point routing

# node IDs
#origin, destination = (1756, 51785) # cross-city before
origin, destination = (50608, 1776) # cross-city after
#origin, destination = (50608, 35180)
#weight = 'matsim_tt_cars'
weight = 'cost_cycling'

L = L_modes[MODE_CYCLING]
route = nx.shortest_path(L, origin, destination, weight=weight)

uvk_and_order = {}
for u, v in zip(route[:-1], route[1:]):
    k, data = min(L.get_edge_data(u, v).items(), key=lambda e: e[1][weight] + (e[1]['lane'].lanetype == LANETYPE_MOTORIZED))
    uvk_and_order[(u,v,k)] = len(uvk_and_order)
    
M = L.edge_subgraph(uvk_and_order.keys())
nx.set_edge_attributes(M, uvk_and_order, 'order_in_path')
M = snman.lane_graph.LaneGraph(M)

edges = oxc.graph_to_gdfs(M, nodes=False)
print(edges.groupby('lanetype').agg({weight: 'sum', 'length': 'sum'}))
print(edges.agg({weight: 'sum', 'length': 'sum'}))

snman.io.export_lane_geometries(
    M,
    os.path.join(outputs_path, f'path_edges.gpkg'),
    os.path.join(outputs_path, f'path_nodes.gpkg'),
    scaling=30
)

          cost_cycling        length
lanetype
L          8199.917400  16734.525306
M         13449.929842  13449.929842
S           149.101000    149.101000
X         11423.953557  23314.190932
cost_cycling    33222.901799
length          53647.747080
dtype: float64

In [30]:
STATE

'after'